<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.229678887588-bt4vpmks8aaad0lkcomaavkmktf1ev78</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>229678887588-bt4vpmks8aaad0lkcomaavkmktf1ev78.apps.googleusercontent.com</string>
</dict>
</plist>
