<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.51361032312-p8evns3f8egj6eiqe0m49qdheli4p5d3</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>51361032312-p8evns3f8egj6eiqe0m49qdheli4p5d3.apps.googleusercontent.com</string>
</dict>
</plist>
